/* BEM METHODOLOGY FOR THIS PROJECT */
:root {
    --container-bg-color: hsla(0, 0%, 96%, 1);
}

/* STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Brown", sans-serif;
}

/* THE WHOLE CONTAINER */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.body-wrapper {
    min-height: 100%;
    background-color: var(--container-bg-color);
}

/* FOR MOBILE VIEW (optional) */
@media (max-width: 450px) {
    /* .header__nav-menu { */
        /* flex-direction: column; */
        /* gap: 5rem; */
    /* } */
}